footer {

    .footer {
        padding: 0 40px;
        background-color: black;
        width: 100%;
        z-index: 90;

        &_logo {
            width: auto;

            & > img {
                height: 50px;
            }
        }

        &_nav {
            display: inline-block;
            font-size: 0;
            width: 500px;

            & > li {
                display: inline-block;
                width: 100px;
                line-height: 50px;
                text-align: center;

                & > a {
                    display: inline;
                    font-size: 15px;
                    color: #ffffff;
                    font-style:oblique;
                    font-family:Times New Roman,"ＭＳ Ｐゴシック";

                }
            }
        }

        &_copywriter {
            color: #ffffff;
            text-align: right;
        }
    }
}