
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/portfolio/.*index.html
RewriteRule ^(.*)portfolio/(.*) $1$2 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ https://ochi.herokuapp.com/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.php
RewriteRule ^(.*)index.php$ https://ochi.herokuapp.com/$1 [R=301,L]